* text=auto eol=lf



*.md diff=markdown

*.blade.php linguist-language=Blade
*.css linguist-language=css
*.php linguist-language=php
*.js linguist-language=JavaScript



/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore


